
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
  --color-texto: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif,'Times New Roman', Times, serif;
  background: url(../assets/fondo-body-2.jpg);
  background-size: 100% 100%;
  color: var(--color-texto);
}

/* Estilizando el header */
.header {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0 1rem 0;
  width: 100%;
}

.header-logo {
  /* border: 1px solid red; */
  width: 2rem;
}

.logo {
  width: 100%;
  filter: invert(100%);
  
}

.title {
  color: var(--color-texto);
  font-weight:600;
  font-size: 2rem;
  text-shadow: 20px 10px 7px #000000;
}






/* Estilizando el body */

.main {
  display: flex;
}

.main-textarea {
  border: 1px solid red;  /* marcador */
  width: 90%;
  height: 79dvh;
}

.main-tx-encriptar, 
.main-tx-resultado  {

  display: flex;
  resize: none;
  width: 80%;
  height: 50%;
  color: var(--color-texto);
  font-family: 'Roboto', sans-serif, 'Times New Roman', Times, serif;
  padding: 10px 20px;
  background: transparent;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid #f6f6f6;
  font-size: 2rem;
}

.main-tx-encriptar:focus, 
.main-tx-resultado:focus {
  outline: none;
  box-shadow: 0 0 10px 1px;
}

textarea::placeholder {
  color: var(--color-texto);
  padding: 10px 0 0 10px;
  font-size: 1.5rem;
  opacity: .6;
}

.main-tx-resultado::placeholder {
  color: var(--color-texto);
  font-size: 3rem;
  padding: 25px 20px;
  }


/* estilizando botones */
.main-tx-btn {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto' sans-serif, 'Times New Roman', Times, serif;
  font-weight: 800;
  color: var(--color-texto);
  text-transform: uppercase;
  display: flex;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background: #bdb3b140;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btn:hover {
  box-shadow: .1px .1px 6px 2px;
}

.copiar {
  background: #bdb3b1b0;
  color: #000000c0;
}




/* Estiñizando el footer */


.footer{
  justify-content: center;
  background-color: #87d29430;
  align-content: flex-end;
}


.content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 2rem;
}

.titulo-footer {
  font-family: 'Roboto' sans-serif;
  font-size: 1rem;
  font-style: italic;
}

.redes-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  filter: sepia(100%) hue-rotate(4deg) saturate(900%) invert(100%);
  transition: all 0.5s ease-in-out;
}

.redes-footer-link:hover {
  width: 50px;
}

/* media querys */

@media (max-width: 780px) {
  
  .header{
    flex-direction: column;
    align-items: center;
  }

  .main {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .main-textarea {
    height: 300px;
    align-content: center;
  }

  .footer {
    align-items: flex-end;
  }
}